<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momskitchen.momskitchen">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer.ActivitiesPlusFragments.CustomerMainActivity"
            android:label="@string/title_activity_customer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.ActivitiesPlusFragments.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDataEntryActivity"
            android:label="@string/title_activity_user_data_entry"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.ActivitiesPlusFragments.NewMealActivity"
            android:label="@string/title_activity_new_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.ActivitiesPlusFragments.MealDetailsActivityAdmin"
            android:label="@string/title_activity_meal_details_activity_admin"
            android:theme="@style/AppTheme.MealDetail" />
        <activity
            android:name=".Admin.ActivitiesPlusFragments.MenuCreationActivity"
            android:label="@string/title_activity_menu_creation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customer.ActivitiesPlusFragments.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:parentActivityName=".Customer.ActivitiesPlusFragments.CustomerMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Customer.ActivitiesPlusFragments.CustomerMainActivity" />
        </activity>
        <service
            android:name=".messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>